*{
  font-family: 'Shippori Antique B1', sans-serif;
  position: relative;
  transition: .3s;
  transition: background-color .5s;
}

body, html, #root{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}